@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media screen and (min-width: 900px) {
    body{
        margin: 0 auto;
        width: 100%;
    }

    header{
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.199);
    }

    header > a{
        color: black;
    }

    div#logo {
        position: relative;
        top: -16px;
        display: inline-block;
        right: -20px;
        margin-bottom: -30px;
        width: 26%;
    }

    div#logo > h1{
        font-family: 'Open Sans';
        font-size: 50px;
        display: inline-block;
        
    }

    div#logo > img{
        width: 70px;
        display: inline-block;
        position: relative;
        top: 20px;
    }

    div#adv , div#bus > h2, p{
        font-family: 'Open Sans';
        margin-left: 3%;
    }

    main > div > h2{
        margin-top: 20px;
        display: block;
        font-size: 200%;
    }

    h2#std, h2#adv, h2#bus{
        margin-left: 3%;
    }

    img#monitor{
        width: 12%;
        margin-left: 3%;
        margin-bottom: 20px;
        margin-top: 20px;
        display: inline-block;
    }

    img#web{
        width: 6%;
        position: relative;
        top: -57px;
        right: -20px;
        display: inline-block;
    }

    p#preco1{
        font-size: 255%;
        display: inline-block;
        position: relative;
        top: -80px;
        left: 14%;
    }

    div#std{
        background-color: rgba(19, 19, 19, 0.116);
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
        width: 90%;
    }

    div#std > h2{
        color: black;
    }

    div#adv{
        background-color: rgb(0, 110, 255);
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
    }

    h2#adv{
        display: inline-block;
        margin-top: 10px;
    }

    div#adv >p, h2{
        color: white;
    }
    
    
    div#cartoon{
        position: relative;
        right: -2%;
        display: inline;
        margin-bottom: 20px;
    }
    
    img#monitor_cartoon, img#cartoon{display: inline;}
    
    img#monitor_cartoon{
        width: 20%;
    }
    
    img#cartoon{  
        width: 25%;
        position: relative;
        bottom: -15px;
    }

    p#preco2{
        display: inline-block;
        position: relative;
        right: -2%;
        bottom: 75px;
        font-size: 300%;
    }
    
    div#bus{
        background-color: black;
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
    }

    h2#bus{
        display: inline-block;
        margin-top: 10px;
    }

    div#bus > p{
        color: white;
    }

    img#apresentation{
        width: 15%;
    }

    img#business{
        width: 18%;
    }

    div#imgs{
        margin-left: 3%;
        display: inline;
    }

    footer > h4{
        font-family: 'Open Sans';
        color: white;
        margin-left: 87%;
        position: relative;
        margin-bottom: 0%;
    }

    p#bus{
        color: white;
        display: inline;
        position: relative;
        font-size: 300%;
        bottom: 80px;
        left: 3%;
    }

    div#business{
        display: inline-block;
        margin-bottom: 20px;
    }

    footer {
        margin-top: 170px;
        padding: 2%;
        background-color: rgb(0, 68, 255);
    }
    
    img#insta2{
        width: 4%;
        margin-bottom: -40px;
        margin-right: 10px;
    }
    
    img#fb2{
        width: 4%;
        margin-bottom: -40px;
        margin-right: 10px;
    }
    
    img#twt2{
        width: 4%;
        margin-bottom: -40px;
        margin-right: 10px;
    }
    
    img#ytb2{
        width: 5%;
        margin-bottom: -38px;
        margin-right: 10px;
    }
}



/*------------------------------CELULAR DISPLAY------------------------------*/




@media screen and (max-width: 899px) {
    body{
        margin: 0 auto;
        width: 100%;
    }
    
    header{
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.199);
        margin-right: -7%;
    }

    div#logo {
        position: relative;
        top: -26px;
        display: inline-block;
        right: -65px;
        margin-bottom: -70px;
    }
    
    div#logo > h1{
        font-family: 'Open Sans';
        font-size: 50px;
        display: inline-block;
    }
    
    div#logo > img{
        width: 58px;
        display: inline-block;
        position: relative;
        top: 11px;
    }
    
    p#pc{
        display: none;
    }

    div#adv , div#bus > h2, p{
        font-family: 'Open Sans';
        margin-left: 3%;
    }
    main > div > h2{
        margin-top: 20px;
        display: block;
        font-size: 200%;
    }

    h2#std, h2#adv, h2#bus{
        margin-left: 3%;
        font-size: 390%;
    }

    img#monitor{
        width: 45%;
        margin-left: 3%;
        margin-bottom: 20px;
        margin-top: -32px;
        display: inline-block;
    }

    img#web{
        width: 38%;
        position: relative;
        top: -17px;
        right: -14px;
        display: inline-block;
    }

    p#preco1{
        font-size: 233%;
        display: inline-block;
        position: relative;
        top: -45px;
        left: -1%;
        margin-bottom: -50px;
    }

    div#std{
        background-color: rgba(19, 19, 19, 0.116);
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
        width: 70%;
    }

    div#std > h2{
        color: black;
    }

    div#adv{
        background-color: rgb(0, 110, 255);
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
        width: 70%;
    }

    h2#adv{
        display: inline-block;
        margin-top: 10px;
        font-size: 300%;

    }

    div#adv >p, h2{
        color: white;
    }
    
    
    div#cartoon{
        position: relative;
        right: -2%;
        display: inline;
        margin-bottom: 20px;
    }
    
    img#monitor_cartoon, img#cartoon{display: inline;}
    
    img#monitor_cartoon{
        width: 50%;
    }
    
    img#cartoon{  
        position: relative;
        right: 0%;
        bottom: 5px;
        font-size: 235%;
        width: 48%;
    }

    p#preco2{
        display: inline-block;
        position: relative;
        right: -2%;
        bottom: 35px;
        font-size: 235%;
        margin-bottom: -50px;
    }
    
    div#bus{
        background-color: black;
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
        width: 70%;
    }

    h2#bus{
        display: inline-block;
        margin-top: 10px;
        font-size: 300%;
        margin-bottom: 10px;
    }

    div#bus > p{
        color: white;
    }

    img#apresentation{
        width: 40%;
    }

    img#business{
        width: 50%;
    }

    div#imgs{
        margin-left: 3%;
        display: inline;
    }

    footer > h4{
        font-family: 'Open Sans';
        color: white;
        margin-left: 87%;
        position: relative;
        margin-bottom: 0%;
    }

    p#bus{
        color: white;
        display: inline;
        position: relative;
        font-size: 235%;
        bottom: 0px;
        left: -1%;
    }

    div#business{
        display: inline-block;
        margin-bottom: 20px;
    }
    
    footer {
        margin-top: 80px;
        padding: 2%;
        background-color: rgb(0, 68, 255);
        margin-right: -25px;
        margin-right: -7%;
    }

    img#insta2{
        width: 11%;
        margin-bottom: -40px;
        margin-right: 10px;
    }

    img#fb2{
        width: 11%;
        margin-bottom: -40px;
        margin-right: 10px;
    }

    img#twt2{
        width: 11%;
        margin-bottom: -40px;
        margin-right: 10px;
    }

    img#ytb2{
        width: 12%;
        margin-bottom: -38px;
        margin-right: 10px;
    }

    footer > h4{
        font-family: 'Open Sans';
        color: white;
        margin-left: 65%;
        position: relative;
        font-size: 85%;
        margin-bottom: 0%;
    }
}